<section class="thirteen columns">
  <h1>{{ .Site.Data.education.name }}</h1>
  {{ range .Site.Data.education.source }}
  <article>
    <header>
      <h1>{{ .title }}</h1>
      <span>{{ .univ }}</span>
      <span>
        <address>{{ .place }}</address>
        <time>{{ .date }}</time>
      </span>
    </header>
<!--     <p>
      <em>{{ title .type }}: </em>
      {{ .description }} <br/>
      {{ .description2 }} <br/>
      {{ .description3 }}
    </p> -->
  </article>
  {{ end }}
</section>
