<!--<section class="thirteen columns"> -->
  {{ range .Site.Data.employment.source }}
   <article>
    <header>
      <h1>{{ .prof }}</h1>
      <span>
        <address>{{ .place }}</address>
        <time>{{ .time }}</time>
      </span>
    </header>
   <!--  <p><small><i class="fa fa-check"></i></small> &nbsp;{{ .description }} <br/><small><i class="fa fa-check"></i></small> &nbsp;{{ .description2 }}<br/> <small><i class="fa fa-check"></i></small> &nbsp;{{ .description3 }}</p> -->
  </article>
  {{ end }}
</section>
