<section class="thirteen columns">
  <h1>{{ .Site.Data.initiatives.name }}</h1>
  {{ range .Site.Data.initiatives.source }}
  <article>
    <header>
      <small><i class="fa fa-check"></i></small>&nbsp;Digital Design (FPGA & ASIC) &nbsp;&nbsp;&nbsp;&nbsp;  <small><i class="fa fa-check"></i></small>&nbsp;VLSI System Design <br>
       <small><i class="fa fa-check"></i></small>&nbsp;Embedded Systems & IoT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <small><i class="fa fa-check"></i></small>&nbsp; Firmware Development<br>

       <small><i class="fa fa-check"></i></small>&nbsp;PCB & Circuit Fabrication&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <small><i class="fa fa-check"></i></small>&nbsp; Hardware Testbench Design<br><br>
      <span>
      </span>
    </header>
  </article>
  {{ end }}
</section>
